extends ../layouts/common

block content
  h3 Create book
  form(method='POST', enctype="multipart/form-data")
    .form-group
      input.form-control(type='text', name='title', placeholder='Title')
    .form-group
      input.form-control(type='text', name='description', placeholder='Description')
    .input-group.mb-3
          .input-group-prepend
            span#inputGroupFileAddon01.input-group-text Avatar
          .custom-file
            input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01', name='avatar')
            label.custom-file-label(for='inputGroupFile01') Choose file
    
    button.btn.btn-primary Create